html
  head
    title= title
    style(type='text/css').
      body {
        text-align: center;
      }

      .pug-life {
        font-size: 24px;
        color: brown;
      }
  body
    h1= message
    div.pug-life
      p= pugRocks