<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <style type='text/css'>
    body {
        text-align: center;
      }

      .ejs {
        font-size: 24px;
        color: green;
      }
  </style>
</head>
<body>
  <h1><%= message %></h1>
  <div class="ejs">
    <p><%= ejsRocks %></p>
  </div>
</body>
</html>